.cardsContainer {
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.informationCard {
	margin-right: 2rem;
}
.inputsContainer > input {
	width: 100%;
	margin-bottom: 2rem;
}
.livingDetails {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.livingDetails > input {
	width: 100%;
}
.livingDetails > input:not(:last-child) {
	margin-right: 1rem;
}
.notesContainer > textarea {
	resize: none;
	width: 100%;
	font-family: inherit;
	border: none;
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 400;
	padding: 1rem;
	border: 0.1rem solid var(--e6e);
	border-top: 0;
}
@media screen and (max-width: 1069px) {
	.cardsContainer {
		flex-direction: column;
	}
	.informationCard {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 375px) {
	.livingDetails {
		flex-direction: column;
	}
	.livingDetails > input:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}
